.title{
    display: flex;
    font-size: x-large;
    justify-content: center;
    /* align-items: center; */
}

.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.test{
    position: relative;
    margin: 10px;
}

.item-name{
    background: transparent;
    font-size:medium;
    color: black;
    padding: 14px 40px;
    justify-content: center;
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

input:checked ~ .item-name {
    background: lightblue;
    transition: 0.3s;
}
