.rating {
  
    & svg {
        color: white;
        cursor: pointer;
        font-size: 30px;
    }
  
    & div {
        width: 100%;
    }
  
    & div:hover svg {
        color: rgb(255, 255, 32);
    }
  
    & svg:hover~svg {
        color: white;
    }
    
    .clickeddollar {
        color: rgb(255, 255, 32);
    }
  }