.pref{
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.Title {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.test{
  display: flex;
  font-size: medium;
  justify-content: center;
}

#toggle{
  width:40px;
  height:20px;
}

.oneline{
    display: flex;
    /* justify-content: center; */
    /* background: red; */
    justify-content: space-between;
    align-items: center; 
}

.switch {
    display: flex;
    position: absolute;
    /* background: red; */
    /* left: 0; */
    width: 40px;
    height: 20px;
    /* margin-left: 75%; */
    /* background: red; */
}

#checkb {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    justify-content: center;
    position:absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2c3e50;
    transition: 0.3s;
    border-radius: 30px;
}
.slider:before {
    position: absolute;
    justify-content: center;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 2.5px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  input:checked + .slider {
    background-color: #00c853;
  }
  
  input:checked + .slider:before {
    transform: translateX(19px);
  }
  .star-rating{
    display: flex;
    align-items: center;
  }

 #starSelector {
    background-color: transparent;
    font-size:x-large;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .on {
    color: #ffd700;
  }

  .off{
    color: #ccc;
  }

  .but{
    /* position: absolute;
    padding-left: 69%;
    padding-top: 1%; */
  }